POSTGRES_USER=rust_sqlx
POSTGRES_PASSWORD=rust_sqlx_dev
POSTGRES_PORT=15432
PGDATA=/var/lib/postgresql/data
PGADMIN_DEFAULT_EMAIL=rust_sqlx@domedomain.com 
PGADMIN_DEFAULT_PASSWORD=rust_sqlx_dev
PGADMIN_PORT=15433
